/* 左：图片区 */
.intro-wrap{
    overflow: hidden;
}
.intro-wrap .p-img-con{
    float: left;
    width: 420px;
}

/* 主图 */
.intro-wrap .p-img-con .main-img-con{
    /* margin-left: 60px; */
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border:1px solid #ddd;
}
.intro-wrap .p-img-con .main-img-con .main-img{
    height: 100%;
    width: 100%;
}



/* 缩略图 */
.intro-wrap .p-img-con .p-img-list{
    overflow: hidden;
    height: 76px;
    margin-top:5px;
    margin-right: -10px;
}
.intro-wrap .p-img-con .p-img-item{
    float: left;
    margin-right: 6px;
    width: 72px;
    height: 72px;
    border:2px solid #eee;
    cursor: pointer;
}
.intro-wrap .p-img-con .p-img-item:hover{
    border:2px solid green;
}
.intro-wrap .p-img-con .p-img-item .p-img{
    width: 100%;
    height: 100%;
}

/* 右：商品信息区 */
.intro-wrap .p-info-con{
    float: left;
    width: 640px;
    margin-left: 20px;
}
.intro-wrap .p-info-con .p-name{
    font-size: 20px;
    color: #333;
}
.intro-wrap .p-info-con .p-subtitle{
    font-size: 15px;
    color: green;
    line-height: 30px;
}
.intro-wrap .p-info-con .p-info-item{
    position: relative;
    padding: 0 10px;
    margin-top: 20px;
}
.intro-wrap .p-info-con .p-info-item .label{
    display: inline-block;
    width: 50px;
    color: #999;
}
/* 价格部分 */
.intro-wrap .p-info-con .p-price-con{
    background: #eee;
    padding: 10px;
}
.intro-wrap .p-info-con .p-price-con .info{
    color: green;
    font-size:18px;
}
/* 数量部分 */
.intro-wrap .p-info-con .p-count-con .p-count{
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn{
    position: absolute;
    left: 107px;
    display: block;
    width: 20px;
    height: 11px;
    line-height: 11px;
    text-align: center;
    font-size: 11px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
    -moz-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.plus{
    top: 0;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.minus{
    bottom: 0;
}
.intro-wrap .p-info-con .info-item .btn{
    margin: 15px 0 0 5px;
}
/* 商品详细信息 */
.detail-wrap{
    margin-top: 30px;
}
.detail-wrap .tab-list{
    background: #eee;
    border: 1px solid #ddd;
    overflow: hidden;
    border-bottom: 1px solid green;
}
.detail-wrap .tab-list .tab-item{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.detail-wrap .tab-list .tab-item.active{
    background: green;
    color: #fff;
}

/* //要改！！ */
.detail-wrap .detail-con{
    padding-top: 20px;
    background: #fff;
    text-align: center;
}
.detail-wrap .detail-con img{
    display: block;
    margin: 0 auto;
}
/* 错误信息 */
.err-tip{
    height: 120px;
    line-height: 120px;
    color:green;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}