<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://github.com/1994QIFang77" target="_blank">GitHub</a> |
            <a class="link" href="https://blog.csdn.net/u012346225" target="_blank">CSDN博客</a> |
            <a class="link" href="https://www.baidu.com/" target="_blank">百度</a> 
        </div>
        <p class="copyright">
                Copyright © 2019 Qeball.com All Right Reserved
        </p>
    </div>
</div>

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>



