<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- 强制浏览器以某种模式渲染页面，X-UA-Compatible 。edge：始终以最新文档模式来渲染页面，忽略文档类型说明。-->

<!-- 关键词 -->
<meta name="keywords" content="Qeball，happyQeb，Qeb电商，网上购物，网上商城，数码产品，手机，笔记本，相机，手表，耳机">


<!-- 描述 -->
<meta name="description" content="一个提供数码通讯、手机、电脑、家居百货、服装服饰、母婴、图书、食品等数万种优质商品，最优质、最便捷的网上购物平台。">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.happymmall.com">
<link rel="dns-prefetch" href="//img.happymmall.com">

<!-- 访问数据统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?bc210cd22928076d28296716d9dfcf01";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>