<div class="header">
    <div class="w">
        <a class="logo" href="./index.html">Qeball</a>
        <div class="tr-Box">
            <div class="tran-box front">Q</div>
            <div class="tran-box back">e</div>
            <div class="tran-box left">b</div>
            <div class="tran-box right">a</div>
            <div class="tran-box top">l</div>
            <div class="tran-box bottom">l</div>
        </div>
        <div class="search-con">
            <input class="search-input" id="search-input" placeholder="请输入商品名称"/>
            <button class="btn search-btn" id="search-btn">搜索</button>
        </div>
    </div>
</div>