<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登录</span>
                <span class="link js-register">免费注册</span>
            </span>
            <span class="user login">
                    <span class="link-text">
                        欢迎,
                        <span class="username"></span>
                    </span>
                    <span class="link js-logout">
                        退出
                    </span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                        <i class="fa fa-shopping-cart"></i>
                        购物车(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="link">我的订单</a>
            </li>
            <li class="nav-item">
                <a href="./user-center.html" class="link">个人中心</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="link">关于Qeball</a>
            </li>
        </ul>
    </div>
</div>