/* 最外层容器 */
.page-wrap{
    padding: 40px 0;
}
/* 用户登录框，表单框 */
.user-con{
    position: relative;
    margin: 0 auto;
    width: 400px;
    padding: 0px 15px 0px 15px;
    background: #fff;
}
.user-con .user-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}


.user-con .user-box{
    padding: 20px;
}
/* 错误提示 */
.user-con .user-box .error-item{
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    /* border: #31813e; */
    color: red;
    background: #fde9e9;
    display: none;
}
/* 错误图标 */
.user-con .user-box .error-icon{
    position: absolute;
    left: 14px;
    top: 50%;
    font-size: 14px;
    margin-top: -7px;
}
/* 提示文字 */
.user-con .user-item-text{
    margin-bottom: 10px;
    font-size: 15px;
}
/* 分步骤显示 */
.user-con .step-con{
    display: none;
}
/* input */
.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
}
/* input框 文字图标 */
.user-con .user-item .user-label{
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}
/* input框 */
.user-con .user-item .user-content{
    border-radius: 0 3px 3px 0;
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #bdbdbd;
    outline: none;
}
/* 登录按钮 */
.user-con .btn-submit{
    /* width: 100%; */
    position: relative;
    left: 50%;
    padding: 0px 30px 0px 30px;
    border-radius: 4px;
    margin-left: -55px;
}
/* 跳转链接 */
.user-con .link-item{
    text-align: center;
    margin-top: 14px;
    color: #888;
}
.user-con .link-item .link{
    margin:0 auto;
} 