
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}
/* 定宽布局 */
 .w{
     width: 1080px;
     margin: 0 auto;
     position: relative;
     overflow: hidden;
 }
 /* panel 放东西的容器（个人中心） */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size:14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
} 

 /* 在大的屏幕下，可以通过.large .w 来改变整个屏幕的样式*/
 /* .large .w{
     width: 1600px;
 } */

 /* 全局通用样式 */


 /* 隐藏 */
 .hide{
     display: none;
 }

 /* 链接样式 */
 .link{
    color: #999;
    cursor: pointer;
    /* 去掉a链接下划线 */
    text-decoration: none;
 }
.link:hover{
    color: #e80012;
}
.link-text{
    color: #999;
    text-decoration: none;
}

 /* btn */
 .btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
/* loading */
.loading{
    margin: 10px auto;
    display: block;
    background: url(../../image/loading.gif) no-repeat;
    width: 65px;
    height: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0.6;
}

